#previewcontainer {
  width: 100%;
  text-align: center;
}
#title {
  width: 100%;
}
#postedby {
  width: 100%;
}
#blogtext{
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 16px;
}
#previewcontainer #image {
  width: 100%;
  margin: 0px;
}
#previewcontainer #image img {
  margin: 0px;
  width: 100%;
}

@media screen and (min-width: 800px) {

  #previewcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
  }

}
