@font-face {
  font-family: "Bungee";
  src: url("../../../assets/bungee.ttf");
}
#previewcontainer {
  width: 100%;
  text-align: center;
}
#previewtitle {
  width: 100%;
  font-size: 24px;
  margin-bottom: 0px;
  font-family: Impact, Charcoal, sans-serif;
  font-family: Bungee;
  color: #0080FF;
}
#subtitle {
  width: 100%;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}
#postedby {
  width: 100%;
}
#blogtext{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 16px;
}
#previewcontainer #image {
  width: 100%;
  margin: 0px;
}
#previewcontainer #image:hover {
    box-shadow: 0 0 2rem #FE2E2E;
}
#previewcontainer #image img {
  margin: 0px;
  width: 100%;
}

@media screen and (min-width: 800px) {

  #previewcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
  }

}
