#container {
		width: 96%;
		position: relative;
		left: 2%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;

	}
	#title {
		width: 100%;
		font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	}
	#postedby {
		width: 100%;
		color: #cbd4d6;
	}
	#dropdown {
		width: 100%;
		margin-bottom: 5px;
	}
	#image {
		width: 100%;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 15px;
	}
	#image img{
		width: 100%;
	}
	#text {
		margin-left: 2%;
		margin-right: 2%;
		text-align: justify;
		font-size: 18px;
		font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	}


	@media screen and (min-width: 600px) {

		#container {
			width: 60%;
			position: relative;
			left: 20%;
			display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: space-around;
		}
		#image {
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom: 20px;
		}
		#image img{
			width: 100%;
		}
		#text {
			margin-left: 10%;
			margin-right: 10%;
			text-align: justify;
			font-size: 18px;
			font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
		}

	}
