#blogpagecontainer {

    width: 96%;
    position: relative;
    left: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

	}

	@media screen and (min-width: 800px) {

		#blogpagecontainer {
      width: 60%;
      position: relative;
      left: 20%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
		}
		#pagetitle {
			grid-area: title;
			font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
		}
		#dropdown {
			grid-area: arch;
			max-width: 200px;
			margin-bottom: 5px;
		}
	}
