#hrContainer {
  margin-top: 5px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
#div1 {
  background-color: #ffffff88;
  grid-area: div1;
  height: 2px;
  width: 33%;
}
#hrtext {
  grid-area: text;
  align-content: center;
  font-size: 10px;
  color: #ffffff88;
  width: 33%;
}
#div2 {
  background-color: #ffffff88;
  grid-area: div2;
  height: 2px;
  width: 33%;
}
