#comment-box {
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
  width: 96%;
  height: 100%;
  min-height: 100%;
  position: relative;
  left: 2%;
}
#comment-box form {
  width: 100%;
}
#comment-box h3 {
  width: 100%;
  text-align: left;
}
#comment-box h5 {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}
.white {
  color: white;
}
#comment-box #name {
  width: 15%;
  color: white;
}
#comment-box #namein {
  float: left;
  width: 80%;
  margin-bottom: 10px;
}
#comment-box #emaillabel {
  width: 15%;
  color: white;
}
#comment-box #emailin {
  float: left;
  width: 80%;
  margin-bottom: 10px;
}
#comment-box #commentbox {
  width: 100%;
  resize: none;
  margin-bottom: 10px;
  min-height: 150px;
}
#comment-box #submit {
  grid-area: submit;
}
/*layout for larger screens*/
@media screen and (min-width: 34em) {

  #comment-box {
    width: 60%;
    position: relative;
    left: 20%;
  }

}
