@font-face {
    font-family: "Armenia Gradient";
    src: url("../../assets/Armenia Gradient.ttf");
  }
#logo {
    color: #C4DFE6;
    font-family: 'Armenia Gradient';
    text-align: left;
    margin: 10px 0px 0px 20px;
}
#logoText {
    font-size: 80px;
    padding-bottom: 0px;
    margin-bottom: -20px;
    
}
#four {
    color: red;
}
#logo:hover {
    color: red;
    cursor: pointer;
}