#choice1 {
  width: 40%;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
}
#choice1 img{
  width: 100%;
}
#choice2 {
  width: 40%;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
}
#choice2 img{
  width: 100%;
}
#or {
  width: 2%;
  text-align: center;
  color: #fff;
}
#or h4 {
  margin-top: 30px;
}
#choice1 #votes {
  color: green;
  font-size: 20px;
  font-weight: bold;
}
#choice2 #votes {
  color: green;
  font-size: 20px;
  font-weight: bold;
}

/*layout for larger screens*/
@media screen and (min-width: 34em) {

}
