@font-face {
  font-family: "Armenia Grunge";
  src: url("../../../assets/Armenia Grunge Italic.ttf");
}
/*layout for smaller screens*/
#QOTD-Page {
  width: 98%;
  margin-top: 40px;
  position: relative;
  left: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
  
}
#QOTD-Page #title {
  font-family: Armenia Grunge;
  margin-bottom: -15px;
  padding-bottom: 0px;
  width: 100%;
  color: rgb(18, 159, 194);
  color: #C4DFE6;
}
#QOTD-Page #subtitle {
  width: 100%;
  margin-bottom: 20px;
  color: rgb(18, 159, 194);
  color: #C4DFE6;
}
#question {
  width: 100%;
  color: #C4DFE6;
}
#choice-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

/*layout for larger screens*/
@media screen and (min-width: 600px) {
  #QOTD-Page {
    display: flex;
    width: 80%;
    position: relative;
    left: 10%;
  }
  #choice-area {
    width: 80%;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
