#outerContainer {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}
#loginContainer {
  width: 90%;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #086A87;
  box-shadow: 5px 5px 50px 15px rgb(212, 57, 57);
  border-radius: 10px;
  margin-bottom: 20px;
}
#form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  left: 5%;
  margin: 20px 0;
  color: white;
}
#loginLabel {
  text-align: center;
  padding-bottom: 20px;
}
#elabel {
  font-weight: 300;
}
#email {
  margin-bottom: 20px;
}
#plabel {
  font-weight: 300;
}
#pass {
  margin-bottom: 20px;
}
#doneButton {
  text-align: center;
  margin-top: 15px;
}
#submit {
  margin-bottom: 20px;
  background-color: green;
  border-radius: 5px;
  border: none;
  color: #fff
}
#label3 {
  text-align: center;
  font-weight: 1000;
}
#yourButtonLabel {
  margin-top: 10px;
}
#reset {
  background-color: rgb(235, 144, 25);
  color: #fff;
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
}
#create {
  background-color: rgb(209, 94, 94);
  border: none;
  border-radius: 5px;
  color: rgb(247, 247, 247);
}

@media screen and (min-width: 600px) {
  #loginContainer {
    width: 50%;
    max-width: 400px;
  }
  #form {
    position: relative;
    width: 90%;
    left: 5%;
  }
}
