#loginContainer {
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  left: 5%;
}
#loginLabel {
  text-align: center;
  padding-bottom: 20px;
}
#elabel {
  font-weight: 300;
}
#email {
  margin-bottom: 20px;
}
#plabel {
  font-weight: 300;
}
#pass {
  margin-bottom: 20px;
}
#doneButton {
  text-align: center;
  margin-top: 15px;
}
#submit {
  margin-bottom: 20px;
  background-color: green;
  border-radius: 5px;
  border: none;
  color: #fff
}
#label3 {
  text-align: center;
  font-weight: 1000;
}
#yourButtonLabel {
  margin-top: 10px;
}
#reset {
  background-color: #fff;
  border: none;
  margin-bottom: 20px;
}
#create {
  background-color: #fff;
  border: none;
  color: red;
}

@media screen and (min-width: 600px) {
  #loginContainer {
    width: 50%;
    position: relative;
    left: 25%;
  }
  #form {
    position: relative;
    width: 60%;
    left: 20%;
  }
}
