@font-face {
  font-family: "Victorious";
  src: url("../../../assets/Victorious.ttf"); }
@font-face {
  font-family: "Armenia";
  src: url("../../../assets/Armenia Gradient.ttf"); }
#profileContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  color: white;
}
#logoutDiv {
  width: 100%;
  margin-bottom: 10px;
}
#logoutButton {
  background-color: #ea950b;
  border: none;
  border-radius: 7px;
  color: white;
}
#doneEditingButton {
  border: none;
  width: 100%;
  
}
#doneEditingButton input {
  background-color: green;
  border: none;
  border-radius: 7px;
  color: white;
}
#profileform {
  width: 100%;
  margin-bottom: 20px;
}
#editlabel {
  margin-bottom: 20px;
}
#elabel {
  width: 100%;
  margin-top: 10px;
}
#aliasDiv {
  display: inline-block;
}
#aliaslabel {
  margin-right: 5px;
}
#availLabel {
  margin-left: 5px;
}
#aliasInput {
  color: rgb(202, 200, 200);
  background: none;
  border: none;
  border-bottom: 2px solid red;
  text-align: center;
}
#userimages {
  width: 100%;
}
#userimages img{
  max-width: 80px;
  border-radius: 40px;
  margin: 10px;
}
#userButtonPreview {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
#userButtonPreview h4 {
  font-size: 80px;
  font-family: Victorious;
  margin-top: 5px;
}
#userButtonPreview img{
  border-radius: 75px;
  width: 150px;
  height: 150px;
}
#colorsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.colors {
  width: 50px;
  height: 30px;
  border-radius: 8px;
  margin: 0px 5px 10px 5px;
}
.active-color {
  -moz-box-shadow: 2px 2px 4px rgba(202, 29, 29, 0.808);
  -webkit-box-shadow: 2px 2px 4px rgba(202, 29, 29, 0.808);
  box-shadow: 2px 2px 4px rgba(202, 29, 29, 0.808);
}

/*layout for larger screens*/
@media screen and (min-width: 600px) {

  #profileContainer {
    width: 50%;
    position: relative;
    left: 25%;
  }
  #userimages {
    width: 100%;
  }
}
