#profileContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  color: white;
}
#logoutDiv {
  width: 100%;
  margin-bottom: 10px;
}
#logoutButton {
  background-color: #ea950b;
  border: none;
  color: white;
}
#doneEditingButton {
  border: none;
  width: 100%;
  
}
#doneEditingButton input {
  background-color: green;
  border: none;
  color: white;
}
#profileform {
  width: 100%;
}
#editlabel {
  margin-bottom: 20px;
}
#elabel {
  width: 100%;
}
#aliasDiv {
  display: inline-block;
}
#aliaslabel {
  margin-right: 5px;
}
#availLabel {
  margin-left: 5px;
}
#aliasInput {
  color: rgb(202, 200, 200);
  background: none;
  border: none;
  border-bottom: 2px solid red;
  text-align: center;
}
#userimages {
  width: 100%;
}
#userimages img{
  max-width: 80px;
  border-radius: 40px;
  margin: 10px;
}
#userButtonPreview {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
#userButtonPreview img{
  border-radius: 75px;
  width: 150px;
  height: 150px;
}

/*layout for larger screens*/
@media screen and (min-width: 600px) {

  #profileContainer {
    width: 50%;
    position: relative;
    left: 25%;
  }
  #userimages {
    width: 100%;
  }
}
