#userButtonPreview {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#userButtonPreview img{
  border-radius: 75px;
  width: 150px;
  height: 150px;
}

/*layout for larger screens*/
@media screen and (min-width: 34em) {
}
