#hrContainer {
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-rows: 10px;
  grid-template-areas:
  "div1 text div2";
  align-items: center;
}
#div1 {
  background-color: #4897CB;
  grid-area: div1;
  height: 2px;
  align-items: center;
}
#hrContainer #text {
  grid-area: text;
  align-content: center;
  font-size: 12px;
  text-align: center;
}
#div2 {
  background-color: #4897CB;
  grid-area: div2;
  height: 2px;
}
