  @font-face {
    font-family: bungee;
    src: url('./bungee.shade.ttf'),
  }
  #site {
    font-family: 'Open Sans Condensed', sans-serif;
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas:
      "... matchups ..."
  }
  #matchUps {
    grid-area: matchUps;
  }

/*layout for larger screens*/
@media screen and (min-width: 34em) {

  #site {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-areas:
      "... matchUps ...";
  }
  #matchUps {
    grid-area: matchUps;
  }
}
