  @font-face {
    font-family: bungee;
    src: url('./bungee.shade.ttf'),
  }
  #site {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 96%;
    position: relative;
    left: 2%;
  }


/*layout for larger screens*/
@media screen and (min-width: 34em) {

  #site {
    width: 60%;
    position: relative;
    left: 20%;
  }

}
