@font-face {
  font-family: bungee;
  src: url('./bungee.shade.ttf'),
}
#matchUp {
  background-color: #EDEDED;
  color: #003b49;
  font-family: bungee;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
  grid-template-rows: 1fr auto 4fr auto auto;
  grid-template-areas:
    "... vote1 ... vote2 ..."
    "... butt1 ... butt2 ..."
    "... image1 or image2 ..."
    "... view view view ..."
    "... comms comms comms ...";
  margin-bottom: 10px;
}
#image1 {
  grid-area: image1;
}
#image2 {
  grid-area: image2;
}
#vote1 {
  grid-area: vote1;
}
#vote2 {
  grid-area: vote2;
}
#or {
  grid-area: or;
}
#matchUp img {
  width: 80%;
}
#comment-area {
  grid-area: comms;
}
#button1 {
  grid-area: butt1;
  max-width: 100px;
}
#button2 {
  grid-area: butt2;
  max-width: 100px;
}
#viewCommentsButton {
  grid-area: view;
  margin-top: 10px;
}
