@font-face {
  font-family: bungee;
  src: url('./bungee.shade.ttf'),
}
#matchUp {
  background-color: #EDEDED;
  color: #003b49;
  font-family: 'Open Sans Condensed', sans-serif;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
  grid-template-rows: 1fr auto auto auto auto;
  grid-template-areas:
    "... butt1 ... butt2 ..."
    "... image1 or image2 ..."
    "... ... view ... ..."
    "... comms comms comms ..."
    "... ... close ... ...";
  margin-bottom: 10px;
  align-content: center;
}
#image1 {
  grid-area: image1;
  align-items: center;
}
#image2 {
  grid-area: image2;
  align-items: center;
}
#or {
  grid-area: or;
}
#matchUp img {
  width: 80%;
}
#comment-area {
  grid-area: comms;
}
#button1 {
  grid-area: butt1;
  display: inline-block;
}
#button1 h4 {
  font-family: 'Open Sans Condensed', sans-serif;
}
#button1 button {
  max-height: 60px;
  max-width: 70px;
  border: none;
  background-color: #EDEDED;
}
#button1 button img {
  max-height: 60px;
  max-width: 70px;
}
#button2 {
  grid-area: butt2;
  display: inline-block;
}
#button2 h4 {

}
#button2 button {
  max-height: 60px;
  max-width: 70px;
  border: none;
  background-color: #EDEDED;
}
#button2 button img {
  max-height: 60px;
  max-width: 70px;
}
#viewCommentsButton {
  grid-area: view;
  margin-top: 10px;
  background-color: #3eddae;
  margin-bottom: 3px;
  border-radius: 5px;
  border: none;
}
#closeCommentsButton {
  grid-area: close;
  margin-top: 10px;
  background-color: #3eddae;
  margin-bottom: 3px;
  border-radius: 5px;
  border: none;
}
