@font-face {
  font-family: bungee;
  src: url('./bungee.shade.ttf'),
}
#matchUp {
  color: #003b49;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  align-content: center;
  border-radius: 20px;
}
#button1 {
  width: 45%;
}
#button2 {
  width: 45%;
}
#image1 {
  width: 45%;
  margin: 0px;
  margin-bottom: 5px;
}
#image1 img{
  width: 100%;
}
#image2 {
  width: 45%;
  margin: 0px;
  margin-bottom: 5px;
}
#image2 img{
  width: 100%;
}
#or {
  width: 5%;
}

#button1 h4 {
  font-family: 'Open Sans Condensed', sans-serif;
}
#button1 button{
  width: 100px;
  border: none;
  border-radius: 3px;
  background-color: #f4511e;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 5px;
}
#button1 button img {
  max-height: 60px;
  max-width: 70px;
}
#voteButton2 {
  grid-area: butt2;
  display: inline-block;
}
#button2 h4 {

}
#button2 button {
  width: 100px;
  border: none;
  border-radius: 3px;
  background-color: #f4511e;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 5px;
}
#button2 button img {
  max-height: 60px;
  max-width: 70px;
}
#viewCommentsButton {
  grid-area: view;
  margin-top: 10px;
  background-color: #3eddae;
  color: white;
  margin-bottom: 3px;
  border-radius: 5px;
  border: none;
}
#hr{
  width: 100%;
}
#newHR {
  grid-area: commHr;
}
#closeCommentsButton {
  grid-area: close;
  margin-top: 10px;
  background-color: #3eddae;
  margin-bottom: 3px;
  border-radius: 5px;
  border: none;
}
