@font-face {
  font-family: "Armenia Grunge";
  src: url("../../../assets/Armenia Grunge Italic.ttf");
}
#QOTD-Page {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
  "... title ..."
  "... subtitle ..."
  "... selector ..."
  "... question ..."
  "... choices ..."
  "... comments ..."
  ;
  font-family: 'Open Sans Condensed', sans-serif;
}
#QOTD-Page h1 {
  grid-area: title;
  font-family: Armenia Grunge;
  margin-bottom: -15px;
  padding-bottom: 0px;
}
#QOTD-Page h5 {
  grid-area: subtitle;
  margin-bottom: 20px;
}
#language-selector {
  grid-area: selector;
}
#question {
  grid-area: question;
}
#choice-area {
  grid-area: choices;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas:
  "option1 ... option2"
  "votes1 ... votes2"
  "url1 ... url2"
  ;
  margin-bottom: 15px;
}
#QOTD-Page #comment-area {
  grid-area: comments;
}
