@font-face {
  font-family: "Armenia Grunge";
  src: url("../../../assets/Armenia Grunge Italic.ttf");
}
/*layout for smaller screens*/
#QOTD-Page {
  width: 98%;
  position: relative;
  left: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}
#QOTD-Page #title {
  font-family: Armenia Grunge;
  margin-bottom: -15px;
  padding-bottom: 0px;
  width: 100%;
}
#QOTD-Page #subtitle {
  width: 100%;
  margin-bottom: 20px;
}
#question {
  width: 100%;
}
#choice-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 15px;
}
#QOTD-Page #comment-area {
  grid-area: comments;
}


/*layout for larger screens*/
@media screen and (min-width: 40em) {
  #QOTD-Page {
    display: flex;
    width: 80%;
    position: relative;
    left: 10%;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  #choice-area {
    width: 80%;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  #QOTD-Page #comment-area {
    grid-area: comments;
  }
}
