#admin-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#adminHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
#adminHeader h3 {
  width: 100%;
}
#adminHeader select {

  margin-bottom: 15px;
}
#selected-view {
  
}
#list {
  
  background-color: blueviolet;
  width: auto;
}
