@font-face {
  font-family: "Armenia";
  src: url("../../../assets/Armenia Gradient.ttf"); }
#blogAdminContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#formContainer {
  width: 45%;
}
#previewContainer {
  width: 45%;
  color: white;
  font-family: Armenia;
}
#blog-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#blog-form textarea {
  min-height: 300px;
  width: 100%;
  margin-bottom: 10px;
}
#blog-form label {
  width: 100%;
}
#blog-form input {
  width: 100%;
}
#blog-form #selector {
  display: grid;
}
#blogpreviewarea {
  width: 100%;
}
#blogpreviewarea img {
  width: 100%;
}
#blog-preview {
  font-family: "Open Sans Condensed", sans-serif;
}
#posted-by {
  font-family: "Open Sans Condensed", sans-serif;
  color: #848484; 
}
