#blog-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#blog-form textarea {
  min-height: 300px;
  width: 100%;
  margin-bottom: 10px;
}
#blog-form label {
  width: 100%;
}
#blog-form input {
  width: 100%;
}
#blog-form #selector {
  display: grid;
}
#blogpreviewarea {
  width: 100%;
}
#blogpreviewarea img {
  width: 100%;
}
