body {
  background: linear-gradient(#026684 20%, #6C0000);
  /* background: linear-gradient(#026684 20%, rgb(112, 103, 103)); */
  margin: 0;
  padding: 0;
}
#appcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 65px;
}
#navigationContainer {
  width: 100%;
}
#routedAppContainer {
  width: 100%;
}