@font-face {
  font-family: "Armenia Grunge Italic";
  src: url("../assets/Armenia Grunge Italic.ttf");
}
#red {
  color: red;
}
#logo img{
  width: 60%;
}
#logo h2 {
  font-family: Armenia Grunge Italic;
  margin-right: 50px;
}
