#footer {
  position:absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  bottom:0;
  width:100%;
  background: rgb(0, 0, 0, 0.3);
  color: #C4DFE6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#footer div {
  width: 100%;
  text-align: center;
}
#footer #logo #logoText {
  margin: 0px;
  font-size: 25px;
}
