@font-face {
    font-family: "Bungee";
    src: url("../../../assets/bungee.ttf");
  }
  @font-face {
    font-family: "Armenia";
    src: url("../../../assets/Armenia Gradient.ttf");
  }
  $ff1: 'Bungee';
  $ff1: 'Armenia';
  $ff2: 'Open Sans Condensed', sans-serif;
  $fc1: #C4DFE6;
  $fc2: #848484;

  #container {
          width: 96%;
          position: relative;
          left: 2%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          margin-top: 50px;
      }
      #title {
          width: 100%;
          font-size: 40px;
          font-family: Impact, Charcoal, sans-serif;
          font-family: $ff1;
          color: $fc1;
      }
      #subtitle {
          width: 100%;
          font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
      }
      #postedby {
          font-family: $ff2;
          width: 100%;
          color: $fc2;
      }
    #share-archive-container {
      /* background-color: yellow; */
      width: 100%;
      justify-content: center;
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
    }
    #share-button {
      margin-right: 10px;
    }
      #dropdown {
      margin-top: 5px;
          margin-bottom: 5px;
      }
      #image {
          width: 100%;
          margin-left: 2%;
          margin-right: 2%;
          margin-bottom: 15px;
      }
      #image img{
          width: 100%;
      }
      #blogreadtext {
          width: 100%;
          margin-left: 2%;
          margin-right: 2%;
          text-align: justify;
          font-size: 18px;
          font-family: $ff2;
          color: $fc1;
          /*font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;*/
      }
      #blogreadtext h3, li{
          font-family: $ff2;
      }
      #blogreadtext img {
          width: 100%;
      }
    #blogreadtext a:hover {
          text-decoration: none;
      color: red;
      }
  
  
      @media screen and (min-width: 600px) {
  
          #container {
              width: 60%;
              position: relative;
              left: 20%;
              display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          }
          #image {
              margin-left: 10%;
              margin-right: 10%;
              margin-bottom: 20px;
          }
          #image img{
              width: 100%;
          }
          #blogreadtext {
              margin-left: 10%;
              margin-right: 10%;
              text-align: justify;
              font-size: 18px;
              font-family: $ff2;
          }
  
      }
  