@font-face {
  font-family: "Armenia Grunge";
  src: url("../../../assets/Armenia Grunge Italic.ttf");
}

#doodlesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 94%;
  position: relative;
  left: 3%;
}
#doodlestitle {
  font-family: Armenia Grunge;
}
#doodles {
  width: 100%;
}

/*layout for larger screens*/
@media screen and (min-width: 34em) {

  #doodlesContainer {
    width: 60%;
    position: relative;
    left: 20%;
  }
}
