#doodle {

}
#doodletitle {
  font-family: 'Open Sans Condensed', sans-serif;
}
#doodleauthor {
  font-family: 'Open Sans Condensed', sans-serif;
}
#doodleimage {
  width: 100%;
}
#doodleimage img{
  width: 100%;
}

/*layout for larger screens*/
@media screen and (min-width: 34em) {

}
