#comment {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto auto 4fr;
  grid-template-areas:
  "img user date ..."
  "img text text text"
  "... text text text";
  margin-bottom: 15px;
}
#img {
  grid-area: img;
  max-width: 40px;
  max-height: 40px;
}
#user {
  grid-area: user;
  margin-right: 20px;
  color: #4897CB;
}
#date {
  grid-area: date;
  color: grey;
}
#text {
  grid-area: text;
  text-align: left;
  color: black;
}
