@font-face {
  font-family: "Victorious";
  src: url("../../assets/Victorious.ttf");
}
#comment {
  display: flex;
  margin-bottom: 15px;
}
#userCommentButton {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  font-family: Victorious;
  font-size: 30px;
}
#userinfo {
  color: #4897CB;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#userinfo #name {
  margin-right: 10px;
}
#userinfo #date {
  color: grey;
}
#userinfo #text {
  text-align: left;
  color: rgb(180, 180, 180);
  width: 100%;
  font-family: Georgia;
}
