#comment {
  display: flex;
  margin-bottom: 15px;
}
#img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}
#userinfo {
  color: #4897CB;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#userinfo #name {
  margin-right: 10px;
}
#userinfo #date {
  color: grey;
}
#userinfo #text {
  text-align: left;
  color: black;
  width: 100%;
  font-family: Georgia;
}
