#hrContainer {
  margin-top: 150px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#div1 {
  background-color: #4897CB;
  height: 2px;
}
#hrContainer #text {
  font-size: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.623);
}
#div2 {
  background-color: #4897CB;
  height: 2px;
}
